body {
	font-size: 12px;
	background-color: #EEEEEE

}


h1 {
	
	color:	#00CED1;
	margin-bottom: 40px;
	text-align: left;
	font-weight: solid
}

h2 {
	
	color:	#00CED1;
	margin-bottom: 40px;
	text-align: left;
	font-weight: solid
}

h3 {
	
	color:	#00CED1;
	margin-bottom: 40px;
	text-align: left;
	font-weight: solid
}

h4 {
	
	margin-bottom: 40px;
	color:	#00CED1;
	text-align: left;
	font-weight: solid

}

